//babel配置文件，不需要做修改，因为都配置好了
{
  "presets": [
    ["es2015", {"modules": false}],
    "react",
    "stage-2"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "transform-do-expressions",
    "syntax-do-expressions"
  ]
}