//babel配置文件，不需要做修改，因为都配置好了
{
  "presets": [
    "stage-0",
    "latest",
    "react",
    "stage-1",
    "stage-2",
    "stage-3"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "transform-do-expressions",
    "syntax-do-expressions"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}