.header {
  position: relative;
  width: 100%;
  color: #fff;
  height: 3.333rem;
  line-height: 3.333rem;
  text-align: center;
  font-size: 1.4rem;

  .a_link {
    position: absolute;
    display: block;
    top: 0;
    color: #6c6c6c;
    right: 1.25rem;
    width: 3.1667rem;
    height: 3.333rem;

    .a_img {
      width: 100%;
      margin-bottom: 3px;
      vertical-align: middle;
      outline: none;
      height: auto;
    }
  }
}